.wrapper {
    max-width: 90%;
}

.pswd-bold {
    font-weight: bold;
}

.excerpt-link {
    color: white;
}

.excerpt-link:hover {
    color: #00B8F5;
}

.primary-bold {
    font-weight: bold;
    color: #00B8F5;
}

.red {
    color: #c54f4c;
}

section.left {
    text-align: left !important;
}

pre {
    background-color: #f0f0f0 !important;
    border-radius: 4px !important;
    padding: 0.5rem;
}